.mask {
        background: #111717;
        background: -webkit-linear-gradient(to right, rgba(17, 23, 23, 0.2), rgba(183, 191, 194, 0.2));
        background: linear-gradient(to right, rgba(17, 23, 23, 0.2), rgba(183, 191, 194, 0.2))
    }