<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PRESTO</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- My CSS -->
    <link rel="stylesheet" href="/resource/css/style.css">
</head>

<body class="bg-light">
    <!-- NavBar -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">PRESTO</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <!-- DropDownMenu 1 -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Pro plan
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">I'm looking to hire</a></li>
                            <li><a class="dropdown-item" href="#">I want offer Pro services</a></li>
                        </ul>
                    </li>
                    <!-- DropDownMenu 2 -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Explore
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#"><h6>Answers</h6><p>Powered by AI, answered by Fiverr freelancers</p></a></li>
                            <li><a class="dropdown-item" href="#"><h6>Community</h6><p>Connect with PRESTO's team and community</p></a></li>
                            <li><a class="dropdown-item" href="#"><h6>Guides</h6><p>In-depth guides covering business topics/p></a></li>
                            <li><a class="dropdown-item" href="#"><h6>Podcast</h6><p>Inside tips from top business minds</p></a></li>
                            <li><a class="dropdown-item" href="#"><h6>Learn</h6><p>Professional online courses, led by experts</p></a></li>
                            <li><a class="dropdown-item" href="#"><h6>Blog</h6><p>News, infos and community stories</p></a></li>
                            <li><a class="dropdown-item" href="#"><h6>Logo Maker</h6><p>Create your logo istantly</p></a></li>
                        </ul>
                    </li>
                    <!-- Lingua -->
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">English</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Become a Seller</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Sign in</a>
                    </li>
                    <button class="btn btn-outline-success" type="submit">Join</button>
                </ul>
            </div>
        </div>
    </nav>




    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- My JS -->
    <script src="/resource/js/main.js"></script>
</body>

</html>